
/***********************/
/* Basic General Style */
/***********************/
:root {
	--blue: rgba(0, 128, 255, 1);
	--darkBlue: rgba(0, 64, 121, 1);
	--white: rgba(255, 255, 255, 1);
	--black: rgba(0, 0, 0, 1);
	--darkGray: rgba(31, 31, 31, 1);
	--005_black: rgba(255, 255, 255, 0.05);
	--010_black: rgba(255, 255, 255, 0.1);
	--015_black: rgba(255, 255, 255, 0.15);
	--gray: rgba(26, 26, 26, 1);
	
	
}
body, html {
	font-family: Verdana;
	color: var(--blue);
	background-color: var(--black);
	margin: 0;
	padding: 0;
}
/******************/
/* To Top Wrapper */
/******************/
.toTopWrapper {
	display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transform: translate(0,-15px);
    z-index: 100000;
    text-align: center;
}
.toTopWrapper .toTop i {
	font-size: 46px;
	position: relative;
	top: 50%;
	transform: translate(-50%);
    min-width: 50px;
    min-height: 50px;
    background-color: var(--blue);
	cursor: pointer;
	transition: all 0.3s;
	color: #fff;
}
.toTopWrapper .toTop i:hover {
    background-color: var(--darkBlue);
}


table tr td {
	padding: 25px;
	width: calc(100%/3);
}
table {
	width: 100%;
	text-align: center;
}
.mainTiItle {
	font-size: 3em;
	width: 100%;
	text-align: center;
}
.title {
	width: 100%;
	text-align: center;
	color: var(--white);
	background-color: var(--darkBlue);
	padding: 50px 0;
}


/*************************/
/******* Tooltips ********/
/*************************/
span.tooltip {
	transition: visibility 0.1s;
	visibility: hidden;
    text-align: left;
    margin-left: -150px;
    position: absolute;
    width: 200px;
	background-color: rgba(0, 19, 38, 0.9);
	padding: 25px;
	border: 2px solid var(--blue);
	border-radius: 25px;
  z-index: 1;
}
span.tooltip .tooltip_title {
    color: #fff;
    font-weight: 900;
    font-size: 1.5em;
}

span.tooltip ul, span.tooltip ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span.tooltip ul table,
span.tooltip ul table tr,
span.tooltip ul table tr td {
    padding: 5px 15px 0px 0;
    margin: 0;
}
span.tooltip ul table tr td {
    width: 50px;
    text-align: left;
}

span.tooltip ul table tr td.stat, span.tooltip ul table tr td.total {color: #fff;}
span.tooltip ul table tr td.iv {color: #ffb623;}
span.tooltip ul table tr td.ev {color: #0ef;}
span.tooltip ul li.min table tr td.stat {color: red;}
span.tooltip ul li.plus table tr td.stat {color: #00ff02;}


.toopltip_hover:hover .tooltip {
  visibility: visible;
}
