/***********************/
/* Basic General Style */
/***********************/
:root {
	--blue: rgba(0, 128, 255, 1);
	--darkBlue: rgba(0, 64, 121, 1);
	--white: rgba(255, 255, 255, 1);
	--black: rgba(0, 0, 0, 1);
	--darkGray: rgba(31, 31, 31, 1);
	--005_black: rgba(255, 255, 255, 0.05);
	--010_black: rgba(255, 255, 255, 0.1);
	--015_black: rgba(255, 255, 255, 0.15);
	--gray: rgba(26, 26, 26, 1);
	
	
}
body, html {
	font-family: Verdana;
	color: var(--blue);
	background-color: var(--black);
	margin: 0;
	padding: 0;
}

.sprites table tr td {
	padding: 25px;
	width: calc(100%/7);
}
table {
	width: 100%;
	text-align: center;
}
.mainTiItle {
	font-size: 3em;
	width: 100%;
	text-align: center;
}
.title {
	width: 100%;
	text-align: center;
	color: var(--white);
	background-color: var(--darkBlue);
	padding: 50px 0;
}


/*************************/
/******* Tooltips ********/
/*************************/
span.tooltip {
	transition: visibility 0.1s;
	visibility: hidden;
    text-align: left;
    margin-left: -150px;
    margin-top: -200px;
    position: absolute;
    width: 200px;
	background-color: rgba(0, 19, 38, 0.9);
	padding: 25px;
	border: 2px solid var(--blue);
	border-radius: 25px;
	z-index: 1;
	cursor: pointer;
}
span.tooltip .tooltip_title {
    color: #fff;
    font-weight: 900;
    font-size: 1.5em;
}

.spritesShiny span.tooltip .tooltip_title {    
	display: inline-block;
	color:white;

	background: #ff9d00 -webkit-gradient(linear, 100% 0, 0 0, from(#ff9d00), color-stop(0, #ffffff), to(#ff9d00));

	background-position: -2rem top; /*50px*/
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation-name: shimmer;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-background-size: 2rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

span.tooltip ul, span.tooltip ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span.tooltip ul table {
	width: 100%;
	padding: 0;
	marigin: 0;
}
span.tooltip ul table tr,
span.tooltip ul table tr td {
    padding: 5px 15px 0px 0;
    margin: 0;
}
span.tooltip ul table tr td {
    width: 50px;
    text-align: left;
}
span.tooltip .tooltip_sale.no {font-weight:bold; color: red;}
span.tooltip .tooltip_sale.yes {font-weight:bold; color: green;}
span.tooltip .tooltip_sale.offer {font-weight:bold; color: purple;}
span.tooltip .tooltip_sale.sold {font-weight:bold;color: rgb(255 247 0);font-size: 2em;}
.spritesLegendary span.tooltip .tooltip_title {
	display: inline-block;
	color: white;

	background: #ff00ff -webkit-gradient(linear, 100% 0, 0 0, from(#ff00ff), color-stop(0, #ffffff), to(#ff00ff));

	background-position: -2rem top; /*50px*/
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation-name: shimmer;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-background-size: 2rem 100%; /*50px*/
}
span.tooltip ul table tr td.stat, span.tooltip ul table tr td.total {color: #fff;}
span.tooltip ul table tr td.iv {color: #ffb623;}
span.tooltip ul table tr td.ev {color: #0ef;}
span.tooltip ul li.min table tr td.stat {color: red;}
span.tooltip ul li.plus table tr td.stat {color: #00ff02;}


.toopltip_hover:hover .tooltip {
  visibility: visible;
  cursor: help;
}


/*****************/
/** Star Effect **/
/*****************/
.star {
	position: absolute;
	background: url(https://mtedwards.s3.amazonaws.com/sparkle.png) no-repeat;
	background-size: contain;
	overflow: hidden;
}
.star-1 {
	width: 50px;
	height: 34px;
	top:110px;
	left: 7px;
}
.star-2 {
	width: 83px;
	height: 77px;
	top:18px;
	left: 164px;
}
.star-3 {
	width: 74px;
	height: 70px;
	top: 175px;
	left: 182px;
}
.star-4 {
	width: 68px;
	height: 70px;
	top: 16px;
	left: 42px;
}
.star-5 {
	width: 98px;
	height: 100px;
	top: 236px;
	left: 2px;
}
.star-6 {
    width: 68px;
    height: 100px;
    top: 126px;
    left: 72px;
}
.star-7 {
    width: 48px;
    height: 60px;
    top: 296px;
    left: 152px;
}




/******************/
/***** Footer *****/
/******************/
.footer, .footer table, .footer table tr {
	width: 100%;
}
.footer {
	height: 250px;
	background-color: var(--darkBlue);
	padding: 75px 0px;
	color: #fff;
}
.footer table tr td {
	width: calc(100%/4);
	padding: 25px 35px;
}
.footer table span.linkTitle a, .footer table span.linkTitle {
	color: #fff;
	position: relative;
	top: 0;
	font-size: 20px;
	text-decoration: none;
	transition: all 0.3s;
}
.footer table span.linkTitle:hover a {
	color: #000;
}
.footer table .closed {color: red; font-weight: bold;}
.footer table .open {color: #00ff00; font-weight: bold;}


